%h2 All Quizzes
- @quizzes.each do |quiz|
	= @i
	= quiz.name
	= link_to 'Show', quiz
	- if allow? 'quizzes', 'edit'
		= link_to 'Edit', edit_quiz_path(quiz)
	-if allow? 'quizzes', 'destroy'
		= link_to 'Destroy', quiz, method: :delete, data: { confirm: 'Are you sure?' }
	%br

- if allow? 'quizzes', 'new'
	= link_to "New Quiz", new_quiz_path
