%h2
	= @quiz.name
%br
- @quiz.questions.each do |question|
	= question.content
	= link_to 'Destroy Question', question, method: :delete, data: { confirm: 'Are you sure?' }
	%br
	- question.answers.each do |answer|
		= answer.content
		%br
	%br

= link_to "Edit Quiz Name", edit_quiz_path(@quiz)
= link_to "Back", quizzes_path
= link_to "Add a Question", new_question_path(:quiz_id => @quiz.id)
= link_to "Take the Quiz", new_response_path(:quiz_id => @quiz.id)