= @quiz.name
%br
= form_for @response do |f|
	- @quiz.questions.each do |question|
		= question.content
		%br
		- question.answers.each do |answer|
			= answer.content
			%br
			.show_questions
				= Response.new do |q|
					= f.label "Correct Answer?"
					= f.check_box q.result
					= f.hidden_field q.quiz_id, :value => @quiz.id
					= f.hidden_field params[:user_id], :value => current_user.id
					= f.hidden_field params[:question_id], :value => question.id
					= f.hidden_field q.answer_id, :value => answer.id
		
	= f.submit "Submit"



