= @quiz.name
%br
= form_for @response do |f|
	- @quiz.questions.each do |question|
		= question.content
		%br
		- question.answers.each do |answer|
			= answer.content
			%br
				= link_to "Add", '', class: '.add_fields'
				= f.label "Correct Answer"
				= f.check_box :content, value: answer.content
				= f.hidden_field :quiz_id, :value => @quiz.id
				= f.hidden_field :user_id, :value => current_user.id
	
	= f.submit "Submit"


