= @quiz.name
%br
= form_for @responses do |f|
	- @quiz.questions.each do |question|
		= question.content
		%br
		- question.answers.each do |answer|
			= answer.content
			%br
			.show_questions
				- Response.new do |q|
					= fields_for :results do |builder|
						= builder.label "Correct Answer?"
						= builder.check_box :content
						= builder.hidden_field :response_id, :value => answer.id
					= f.hidden_field q.quiz_id, :value => @quiz.id
					= f.hidden_field q.user_id, :value => current_user.id
					= f.hidden_field q.question_id, :value => question.id
					= f.hidden_field q.answer_id, :value => answer.id
					
	= f.submit



