= @quiz.name
%br
= form_for @response do |f|
	- @quiz.questions.each do |question|
		= question.content
		%br
		- question.answers.each do |answer|
			= answer.content
			= f.label "Answer Choice"
			= f.radio_button(:content, answer.content)
			%br
		= f.hidden_field :quiz_id, :value => @quiz.id
		= f.hidden_field :user_id, :value => current_user.id
		%br
	= f.submit "Submit"
