= @quiz.name
%br
= form_for @responses do |f|
	- @quiz.questions.each do |question|
		- question.content
		%br
		- question.answers.each do |answer|
			- answer.content
			- Response.new do |attr|
				= f.hidden_field attr.quiz_id, :value => @quiz.id
				= f.hidden_field attr.user_id, :value => current_user.id
				= f.hidden_field attr.question_id, :value => question.id
				= f.hidden_field attr.answer_id, :value => answer.id
				= f.hidden_field attr.response_question, :value => question.content
				= f.hidden_field attr.response_answer, :value => answer.content
				= f.hidden_field attr.answer_choice, :value => answer.is_correct
				
	= f.submit "Take Quiz!"


