%br
= @response.quiz.name
%br
Your Answer:
= @response[:content]
%br
- @response.quiz.questions.each do |question|
	= question.content
	%br
	- question.answers.each do |answer|
		= answer.content
		= answer.is_correct
		%br
Grade:
= @response.number_correct
\/
= @response.number_of_questions
%br

= link_to "All Student Scores", responses_path


